
@inherits LayoutComponentBase

<PageTitle>FeedbackRegister</PageTitle>

<div class="page">
    <div>
        <HeaderComponent/>
    </div>

    <main class="mainLayoutClass">
    <div class="sidebar">
        <NavMenu />
    </div>
      @*  <div class="paddingPage">
        <article class="content px-4">
            @Body
        </article>
        </div>*@
    </main>
</div>