@page "/Requisites"

<div class="container" style="width:500px;height:220px;">

    <div class="homepage-slider-wrap">
        <p style="padding:10px;font-weight:bold;text-align:center;"> Мои реквизиты:</p>
        <ul>
            <li>
                <span>Номер карты: хххх-хххх-хххх-хххх</span>
            </li>
            
        </ul>

    </div>
</div>
@code {

}
