@page "/logout"
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider provider


<h3>Logout</h3>

@code {

    protected override void OnInitialized()
    {
        base.OnInitialized();
        ((TokenAuthenticationStateProvider)provider).MakeUserAnonymous();
        navigationManager.NavigateTo("/");
    }


}
