@page "/Requisites"

<div class="central-container">
    <div>
        <button class="invisible-wall"></button>
    </div>
    <div class="requisites-field">

        <p style="padding:10px;font-weight:bold;text-align:center;"> Мои реквизиты:</p>
        <ul>
            <li>
                <span>Номер карты: хххх-хххх-хххх-хххх</span>
            </li>

        </ul>

    </div>
</div>
@code {

}
