@using Handicraft.Data
@inject AuthenticationStateProvider Provider
@inherits Data.RegistrationModel
@using static Handicraft.Data.ConnectDB;

<header>
    <div class="info-line">
        <ul class="ul-item">
            <li class="li-item">
                <img src="images/location.svg" style="width:15px;height:28px;" />
                Молдова
            </li>
            <li class="li-item">
                <a href="/mycontacts">Контакты</a>
            </li>
            <li class="li-item">
                <a href="/requisites">Реквизиты</a>
            </li>
            <li class="li-item">
                <img src="images/call.svg" style="width:20px;line-height:32px;" />
                +373-784-46-676
            </li>
        </ul>
    </div>
    <nav class="panel-line">
        <div class="panel-item">
            <a href="/" class="general-logo-link"><img src="images/logoHC.svg" class="general-logo"/></a>
            <div class="panel-search">
                <input class="input-place" type="search" placeholder="Поиск по сайту" autocomplete="on">
                <img src="images/loupe.svg" class="search-icon" />
            </div>

            <div class="user-elements">
                <a class="user-item" href="/">
                    <img src="images/heart.svg" style="width:20px;height:20px">
                    <span>Избранное</span>
                </a>
                <a class="user-item" href="/">
                    <img src="images/cart.svg" style="width:24px;height:24px">
                    <span>Корзина</span>
                </a>
                @if (result == false)
                {
                    <a class="user-item" href="/registration">
                        <span class="oi oi-person">Регистрация</span>
                    </a>

                    <a class="user-item" href="/authorization">
                        <span class="oi oi-account-login">Войти</span>
                    </a>
                }
                else
                {
                    <a class="user-item" style="margin-left:0px;" href="/mycabinet/{@idUser}">
                        <span class="oi oi-person" style="padding:0px;">@userName</span>
                    </a>
                    <Handicraft.Pages.Logout />
                }
            </div>
        </div>
    </nav>
</header>
@code {
    bool result = false;
    string userName = "";
    string? idUser;
    protected override void OnInitialized()
    {
        base.OnInitialized();
        GetUser();
    }
    public async void GetUser()
    {
        var state = await Provider.GetAuthenticationStateAsync();
        var usr = GetDataClass.GetUserData(state?.User?.Identity?.Name);
        if (usr.Count > 0)
        {
            idUser = (usr[0].id != Guid.Empty) ? usr[0].id.ToString() : "";
            var loginExist = state?.User?.Identity?.Name;
            if (loginExist == null)
            {
                result = false;
            }
            else
            {
                result = true;
                userName = state?.User?.Identity?.Name;
                StateHasChanged();
            }
        }
    }
}
