<header>
    <div class="info-line">
        <ul class="ul-item">
            <li class="li-item">
                <img src="images/location.svg" style="width:15px;height:28px;" />
                Молдова
            </li>
            <li class="li-item">
                <a href="/mycontacts">Контакты</a>
            </li>
            <li class="li-item">
                <a href="/requisites">Реквизиты</a>
            </li>
            <li class="li-item">
                <img src="images/call.svg" style="width:20px;line-height:32px;" />
                +373-784-46-676
            </li>
        </ul>
    </div>
    <nav class="panel-line">
        <div class="panel-item">
            <a href="/"><img src="images/logoHC.svg" /></a>
            <div class="panel-search">
                <input class="input-place" type="search" placeholder="Поиск по сайту" autocomplete="on">
                <img src="images/loupe.svg" class="search-icon" />
            </div>
            <div class="user-elements">
                <a class="user-item" href="/">
                    <img src="images/heart.svg" style="width:20px;height:20px">
                    <span>Избранное</span>
                </a>
                <a class="user-item" href="/">
                    <img src="images/cart.svg" style="width:24px;height:24px">
                    <span>Корзина</span>
                </a>
                <a class="user-item" href="/registration">
                    <span class="oi oi-people">Регистрация</span>
                </a>
                <a class="user-item" href="/authorization">
                    <span class="oi oi-people">Войти</span>
                </a>
            </div>
        </div>
    </nav>
</header>
@code {

}
