@inherits LayoutComponentBase

<PageTitle>Handicraft</PageTitle>

<div class="page" style="background-image: url(images/land.svg); background-size: cover;">
    <div>
        <HeaderComponent />
    </div>
    @if (Body != null)
    {   
            <article class="content px-4">
                @Body
            </article>
    }
    else
    {
        <main class="mainLayoutClass">
            <div class="sidebar">
                
            </div>

        </main>
    }
</div>