@inherits LayoutComponentBase

<PageTitle>Handicraft</PageTitle>

<div class="page">
    <HeaderComponent />

    <div class="central-container">
        <NavMenu />
        <ProductIcon />

    </div>
    <main class="mainLayoutClass">
        <article class="content px-4">
            @Body
        </article>

    </main>
</div>