@page "/MyContacts"

<div class="central-container">
    <div>
        <button class="invisible-wall"></button>
    </div>
    <div class="contact-field">

        <p style="padding:10px;font-weight:bold; text-align:center;"> Мои контакты:</p>
        <ul>
            <li>
                <a href="https://www.facebook.com/handicraftmd/">Фейсбук: </a>https://www.facebook.com/handicraftmd
            </li>
            <li>
                <span h>Телефон: +373-784-46-676 </span>
            </li>
            <li>
                <span h>Телеграмм: [скоро] </span>
            </li>
        </ul>

    </div>
</div>

@code {

}