@page "/NavMenu"
@using static Handicraft.Data.ConnectDB;

<link rel="stylesheet" href="css/Components.css" />

<body>
    <div class="container" style="opacity:0.8">  
        <div class="homepage-top-grid">
            <div class="homepage-top-grid__menu" id="homepage-desktop-menu-wrap">       

                        <nav class="menu-desktop__root-info">
                            <img src="images/clothes.svg" style="width:32px;height:32px;margin:25px"/>
                            <a class="ui-link menu-desktop__root-title" href="/">Одежда</a>
                        </nav>
                        <nav class="menu-desktop__root-info">
                            <img src="images/belt.svg" style="width:32px;height:32px;margin:25px"/>
                            <a class="ui-link menu-desktop__root-title" href="/">Ремни</a>
                        </nav>
                        <nav class="menu-desktop__root-info">
                            <img src="images/bag.svg" style="width:32px;height:32px;margin:25px"/>
                            <a class="ui-link menu-desktop__root-title" href="/">Сумки</a>
                        </nav>
                        <nav class="menu-desktop__root-info">
                            <img src="images/backpack.svg" style="width:32px;height:32px;margin:25px"/>
                            <a class="ui-link menu-desktop__root-title" href="/">Рюкзаки</a>
                        </nav>
                        <nav class="menu-desktop__root-info">
                            <img src="images/wallet.svg" style="width:32px;height:32px;margin:25px"/>
                            <a class="ui-link menu-desktop__root-title" href="/">Бумажники</a>
                        </nav>
                        <nav class="menu-desktop__root-info">
                            <img src="images/credit_cards.svg" style="width:32px;height:32px;margin:25px"/>
                            <a class="ui-link menu-desktop__root-title" href="/">Визитницы</a>
                        </nav>
            </div>
            <div class="homepage-top-grid__center" style="width:1100px !important">
                <span class="homepage-slider-wrap">
                </span>
            </div>
        </div>
    </div>
</body>

@*<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Обратная связь</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Главная
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-people" aria-hidden="true"></span> Сотрудники
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="TaskList">
                <span class="oi oi-list" aria-hidden="true"></span> Список задач
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="LookupPage">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Справочники
            </NavLink>
        </div>
    </nav>
</div>*@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
