@using static Handicraft.Data.GetDataClass;
@using static Handicraft.Data.ConnectDB;

<div class="product-container">
    @if (TypeProduct != null)
    {
        @foreach (var prod in products)
        {
            <div class="product-field">
                <span class="name">@prod.name</span>
                <span class="price">@prod.price</span>
                <button class="button">Заказать</button>
            </div>
        }
    }

</div>
@code {
    List<Product>? products = new List<Product>();
    [Parameter]
    public Data.ConnectDB.Type? TypeProduct { get; set; }


    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        uploadData();
    }

    public void uploadData()
    {
        if (TypeProduct != null)
        {
            products = getProductsType(TypeProduct);
        }
    }
}
