.product-field {
    background-color: rgb(255 255 255);
    border-radius: 8px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 16%);
    height: 200px;
    padding: 12px 10px;
    margin: 0px 0px 10px 20px;
    display: grid;
    grid-template-columns: 550px minmax(0,1fr) 130px;
    grid-template-rows: 1fr 50px 70px;
}

.product-container {
    width: 100%;
}

.price {
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    grid-column: 3;
    grid-row: 1;
}

.name {
    margin-right: auto;
    padding: 10px 20px;
    font-size: 20px;
}

.button {
    width: 100px;
    height: 50px;
    grid-column: 3;
    grid-row: 3;
}
