<div class="central-container">
    <div class="product-field" style="">
        123
    </div>

    <div class="product-field" style="">
        123
    </div>

    <div class="product-field" style="">
        123
    </div>
</div>
@code {

}
